html {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 22%, rgba(0,255,184,1) 100%);
    background-attachment: fixed;
}
body {
    background: transparent;
}
.container {
    bottom: 10%;
}

.c19-logo {
    padding: 15px;
}

.c19-logo img {
    width: 200px;
}

.scan-mode {
    color: #fff;
}

.hidden {
    display: none;
}

.webcam {
    display: inline-block;
    margin-top: 15px;
}
